[submodule "alyngsoe/FlexERP-Test1"]
	path = alyngsoe/FlexERP-Test1
	url = git@github.com:alyngsoe/FlexERP-Test1.git
	branch = master

[submodule "alyngsoe/FlexERP-Test1-1"]
	path = alyngsoe/FlexERP-Test1-1
	url = git@github.com:alyngsoe/FlexERP-Test1.git
	branch = master
